.app-BgContainer {
  background-color: #f5d0fe;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 7px;
  width: 80vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px){
    height: 40vh;
    width: 40vw;
  }
}
.heading {
  font-family: Roboto;
  font-size: 30px;
}
.input-container {
  display: flex;
  align-items: center;
}
.button {
  background-color: #d946ef;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  color: #ffffff;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 15px;
}
.inputBox {
  padding: 8px;
  margin-right: 20px;
  font-size: 15px;
  outline: none;
  font-family: Roboto;
  color: #323f4b;
}
.input-text {
  font-family: Roboto;
  color: #323f4b;
  font-size: 17px;
  margin-right: 20px;
}
